.table-filter-dropdown .btn {
    background-color: #FEFEFE;
    border-color: #B4C0BC;
    border-radius: 4px;
    width: 100%;
    text-align: left;
}

.table-filter-dropdown .dropdown-menu {
    width: 96%;
}

.table-filter-dropdown .btn:hover {
    border-color: #8C8C8C;
}

.table-filter-dropdown .dropdown-item.active,
.table-filter-dropdown .dropdown-item:active {
    background-color: #333333;
}

.table-count {
    padding: 8px;
    min-width: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.table-count.all,
.react-bootstrap-table tr.header-class th {
    font-family: 'Rubik-500', sans-serif;
}

.table-count.all {
    background-color: #E6FFEE;
    border-radius: 4px;
    color: #17AD49;
    font-weight: 500;
}

.table-count.drafts {
    color: #00291B;
    font-weight: 400;
}

.table-count .count-number {
    padding: 0 8px;
    border-radius: 12px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    max-height: 16px;
    display: inline-block;
    font-family: 'Rubik-700', sans-serif;
}

.table-filter-search.input-group,
.table-filter-dropdown.dropdown {
    margin: 3px 0;
}

.table-filter-search input {
    border-right: 0;
}

.table-filter-search input::placeholder {
    color: #A5B3AF;
}

.table-filter-search input:focus {
    border-color: #8C8C8C;
    box-shadow: none;
}

.table-filter-search input:focus + .input-group-text {
    border-color: #8C8C8C;
}

.table-filter-search .input-group-text {
    border-left: 0;
    background-color: #FFFFFF;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.all .count-number {
    background-color: #17AD49;
}

.drafts .count-number {
    background-color: #FF7F00;
    margin-right: 8px;
}

.table.table-bordered {
    border: 1px solid #C3CDC9;
    border-radius: 4px;
    color: #00291B;
    font-size: 14px;
    margin-bottom: 20px;
}

.table.table-bordered>:not(caption)>*>* {
    border-width: 0;
    padding-left: 32px;
    vertical-align: middle;
    cursor: pointer;
}

/* React table */
.react-bootstrap-table table {
    table-layout: auto;
}

.react-bootstrap-table tr.header-class th {
    padding: 16px 16px 16px 32px;
    font-size: 12px;
    color: #00291B;
    line-height: 16px;
}

.react-bootstrap-table tr.header-class th.title-th {
    padding: 16px;
}

.react-bootstrap-table th:nth-of-type(1),
.react-bootstrap-table td:nth-of-type(1) {
    width: 148px;
}

.react-bootstrap-table td:nth-of-type(1),
.react-bootstrap-table td:nth-of-type(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}

.react-bootstrap-table th:nth-of-type(2),
.react-bootstrap-table td:nth-of-type(2) {
    width: 164px;
}

.react-bootstrap-table th:nth-of-type(3),
.react-bootstrap-table td:nth-of-type(3) {
    width: 124px;
}

.react-bootstrap-table th:nth-of-type(4),
.react-bootstrap-table td:nth-of-type(4) {
    width: 148px;
}

.react-bootstrap-table th:nth-of-type(5),
.react-bootstrap-table td:nth-of-type(5),
.react-bootstrap-table th:nth-of-type(6),
.react-bootstrap-table td:nth-of-type(6),
.react-bootstrap-table th:nth-of-type(7),
.react-bootstrap-table td:nth-of-type(7) {
    width: 140px;
}

.table.table-bordered .title-td {
    padding: 12px 7px 12px 16px;
}

.table.table-bordered .sentby-td p {
    margin-bottom: 0;
}

.date1 {
    font-size: 12px;
    color: #788E86;
}

#pageDropDown.dropdown-toggle {
    border: 1px solid #B4C0BC;
    background-color: #FEFEFE;
    color: #2D4F43;
    font-size: 14px;
    padding: 0 12px;
    border-radius: 4px;
}

#pageDropDown.dropdown-toggle::after {
    color: #788E86;
}

.react-bootstrap-table-pagination {
    position: relative;
    align-items: center;
}

.react-bootstrap-table-pagination .dropdown-menu {
    min-width: 0;
}

.react-bootstrap-table-pagination .dropdown-item a {
    color: #2D4F43;
    text-decoration: none;
}

.react-bootstrap-table-pagination-total {
    position: absolute;
    right: 28px;
    font-size: 14px;
    color: #3C5B51;
}

.react-bootstrap-table-page-btns-ul {
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -6px;
}

.react-bootstrap-table-pagination .active>.page-link,
.react-bootstrap-table-pagination .page-link.active {
    background-color: #A5B3AF;
    border-color: #A5B3AF;
}

.react-bootstrap-table-pagination .disabled>.page-link,
.react-bootstrap-table-pagination .page-link.disabled {
    color: #C8CBCD;
}

.react-bootstrap-table-pagination .page-link:focus {
    box-shadow: none;
}

.react-bootstrap-table-pagination .page-link {
    color: #3C5B51;
    border: 0;
}

.react-bootstrap-table-pagination .page-link:hover,
.react-bootstrap-table-pagination .page-link:focus {
    color: #3C5B51;
}

@media only screen and (min-width: 992px)  {
    .table-filter-search.input-group,
    .table-filter-dropdown.dropdown {
        width: 305px;
        margin: 0;
    }

    .table-filter-dropdown .dropdown-menu {
        width: 305px;
    }

    .table-filter-dropdown.dropdown {
        padding-right: 4px;
    }
}

@media only screen and (max-width: 576px)  {
    .react-bootstrap-table-pagination-list {
        margin-bottom: 25px;
    }

    .react-bootstrap-table-page-btns-ul {
        top: 30px;
    }
    
    .react-bootstrap-table-page-btns-ul .page-link {
        font-size: 12px;
    }

    .table-filter-dropdown .dropdown-menu {
        width: calc(100% - 25px);
    }
}
